*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:tahoma;
}
button{
    outline:none;
    border:none;
    background:none;
}
ul{
    list-style:none;
}
a{
    text-decoration:none;
    color:inherit;
}
button,
input{
    outline:none;
    border:none;
    background:none;
}
img{
    width:100%;
}
.leaf{
    width:1.5rem;
}

header{
    width:100%;
    height:100vh;
}
.navbar{
    position:fixed;
    z-index:9;
    background:#fff;
    width:100%;
    height:5rem;
    box-shadow:0 1px 5px 1px rgba(0,0,0,.2);
}
.navbar h1{
    margin:0;
    padding:0;
    font-size:18px;
    color:green;
}
.navbar-contents{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px;
}
.navbar .logo{
    display:flex;
    margin:5px;
}
.navbar ul{
    display:flex;
}
.menu-btn{
    display:none;
}
.menu li a{
    margin:5px;
    text-transform:capitalize;
    color:#000;
}
.person-icon button{
    border:1px solid #000;
    border-radius:50%;
    padding:5px;
}
.person-icon .cart{
    background:#6bff97;
    border:none;
}

/* Store info */
.store-info{
    padding-top:3rem;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    width:100%;
}
.store-content{
    display:grid;
    grid-template-columns:20% 80%;
    padding:2rem;
    width:100%;
}
.store-content{
    border:1px solid #a7a7a7;
    border-radius:3px;
}
.store-data{
    height:60vh;
}
.store-top{
    padding:10px;
    height:30%;
}
.store-top h1{
    font-size:16px;
    text-transform:uppercase;
}
.store-bottom{
    background:#cfffd6;
    height:70%;
}
.store-bottom-info{
    padding:10px;
}
.store-bottom-info h1{
    font-size:16px;
    text-transform:uppercase;
}
.tags{
    display:flex;
    justify-content:space-between;
    flex-direction:column;
    align-items:center;
    padding:5px;
    background:#fcfcfc;
    margin:5px;
    border-radius:5px;
}
.inputEl.active{
    display:block;
    border:2px solid #4b4b4b;
    padding:5px;
    border-radius:5px;
    width:5rem;
    background:#fff;
}
.tag-text{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:2px;
}
.down-btn{
    cursor:pointer;
}
.tag-text p{
    font-size:14px;
    text-transform:capitalize;
}
.tags img{
    width:1.5rem;
}
.tags input{
    display:none;
}

/* Store products */
.product-content{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    text-align:center;
    align-items:center;
    height:80vh;
}
.product-tag{
    margin:5px;
    width:12rem;
    height:14rem;
}
.product-tag img{
    width:10rem;
}
.add{
    display:flex;
    justify-content:center;
    align-items:center;
    width:1.3rem;
}
.text{
    background:#6bff97;
    display:flex;
    margin:5px;
    padding:5px;
    text-align:left;
    height:3rem;
    font-size:14px;
}
.text .price{
    font-size:18px;
    font-weight:bolder;
}

/* Store footer */
.store-footer{
    background:#2b8646;
    color:#fff;
}
.footer-content{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    margin:10px;
}
.footer-content h1{
    font-size:18px;
    margin:10px;
}
.property h2{
    font-size:14px;
}
.btn{
    display:flex;
    background:none;
}
.btn button{
    background:#dadadacc;
    padding:10px;
    margin:5px;
    border-radius:50%;
}
.btn button img{
    width:1.2rem;
}

/* Media Queries */
@media screen and (max-width:720px){
    .logo{
        display:flex;
        flex-direction:column;
    }
    .menu{
        position:absolute;
        display:flex;
        justify-content:center;
        flex-direction:column;
        top:5rem;
        left:.5rem;
        opacity:0;
        transform:scale(0);
        background:#6bff97;
        padding:5px;
        transition: .2s ease-in;
    }
    .menu.active{
        opacity:1;
        transform:scale(1);
    }
    .menu-btn{
        display:block;
        cursor:pointer;
        padding:5px;
        margin:5px;
        width:2rem;
    }
    .close-btn{
        display:none;
    }
    .menu-btn.active .open-btn{
        display:none;
    }
    .menu-btn.active .close-btn{
        display:block;
    }
    .down-btn .active{
        display:block;
    }
    .search-icon{
        border:2px solid #b6b6b6b9;
        border-radius:10px;
        width:15rem;
    }
    .search-icon button{
        padding:3px;
    }
    .store-content .store-products{
        display:block;
    }
}

